@using Beetech.Tms.Core.Models
@using Beetech.Tms.Web.Services
@inject TmsService TmsService
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject IStringLocalizer<App> L

<RadzenTemplateForm TItem="Department" Data="@Department" Submit="@OnSubmit">
    <RadzenStack Gap="1rem">
        <RadzenFieldset Text="@L["DepartmentDetails"]">
            <RadzenStack Gap="1rem">
                <div class="row">
                    <div class="col-md-4 rz-text-align-right">
                        <RadzenLabel Text="@L["Name"]" Component="Name" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="display: block; width: 100%;" @bind-Value="@Department.Name" Name="Name" />
                        <RadzenRequiredValidator Component="Name" Text="@L["NameRequired"]" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 rz-text-align-right">
                        <RadzenLabel Text="@L["Active"]" Component="IsActive" />
                    </div>
                    <div class="col-md-8">
                        <RadzenCheckBox @bind-Value="@Department.IsActive" Name="IsActive" />
                    </div>
                </div>
            </RadzenStack>
        </RadzenFieldset>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonType="ButtonType.Submit" Text="@L["Save"]" Icon="save" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="@L["Cancel"]" Click="@((args) => DialogService.Close(false))" />
        </RadzenStack>
    </RadzenStack>
</RadzenTemplateForm>

@code {
    [Parameter] public Department Department { get; set; } = new();

    async Task OnSubmit(Department department)
    {
        var success = await TmsService.UpsertDepartmentAsync(department);
        if (success)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = L["Success"], Detail = L["DepartmentSaved"] });
            DialogService.Close(true);
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = L["Error"], Detail = L["FailedSaveDepartment"] });
        }
    }
}
